<!DOCTYPE html>
<html ng-app='ContactApp'>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <body background="bg-polygon-grey.jpg">
   <!-- ใส่ bg ให้ในส่วนของ body   -->
    <center> <img src="Todo2.png">
    <!-- ใส่โลโก้เว็บไว้ตรงกลาง -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   -->
<div class = "container" >
    <div ng-controller= "AddContactController">
      <form name="contactForm">
        <div class="form-group">
            <input style="text-align:center" type="text" class="form-control"
            id="title"  placeholder="What needs to be do?" ng-model="title"
            maxlength=100>
            <!-- ช่องรับข้อความ, มีการแสดงข้อความไว้ว่า What needs to be do?  -->
        </div>
            <button class="btn btn-default" style="background-color:#00FF66" ng-click="save()">SUBMIT</button>
            <!-- ปุ่มกดเพื่อแอดรับค่าที่กรอกเข้ามาในช่อง What needs to be do? -->
      </form>
    </div><br>
</div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class = "container" >
      <div ng-controller="ListContactController">
        <table class="table table-hover">
        <!-- จุดเริ่มต้นตาราง -->
          <thead>
            <tr>
              <th bgcolor="pink" style="width:10%">Check Box</th>
              <!-- หัวข้อ Check Box -->
              <th bgcolor="pink" style="width:30%">Title</th>
              <!-- หัวข้อ Title -->
              <th bgcolor="pink" style="width:20%">Done</th>
              <!-- หัวข้อ Done -->
            </tr>
          </thead>
        <tbody>
          <tr ng-repeat="contact in contacts">
           <td><input type="checkbox" ng-model="contact.done" ng-true-value="'Complete'" ng-false-value=""></td>
           <!-- ช่องติ้กถูกจะกดจะมี event กับ Done -->
           <td>{{ contact.title }}</td>
           <!-- แสดงข้อความที่รับเข้ามาจาก What needs to be do? และ Title ตัวอย่าง -->
           <td><font color=red><b>{{ contact.done }}</b></font></td>
           <!-- แสดงสถานะ Complet เมื่อติ้กถูกที่ช่อง Check Box -->
         </tr>
       </tbody>
      </table>
      <!-- จุดสิ้นสุดตาราง -->
      <img src="pika.png">
    </center>
     </div>
    </div>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
     <script src="node_modules/jquery/dist/jquery.min.js"></script>
     <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
     <script src="node_modules/angular/angular.js" charset="utf-8"></script>
     <script src="app.js"></script>
  </body>
</html>
